body{
  background: #000;
}
.content{
  background: rgba(35, 44, 51, 0.596);
  color: #fff;
  font-family: monospace;
  font-size: 2ch;
  font-weight: bold;
}
hr{
  background-color: rgb(91, 115, 123);
}

.content{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.line label, input{
  display: inline-block;
  margin: 5px 10px 5px 0;
}

.line input{
  padding: 10px;
  background-color: rgb(41, 54, 62);
  border: 2px solid rgb(41, 53, 63);
  color: #fff;
  width: 97%
}

.gps .read-only{
  color: gray;
}

.numbers input{
  width: 12ch
}

#gpsName{
  height: 1ch;
  width: 10ch;
}
#gpsColor{
  margin: auto;
  padding: 2px;
  height: 22px;
  width: 22px;
}

select{
  background-color: rgb(91, 115, 123);
  border: 2px solid rgb(41, 53, 63);
  color: #fff;
}

button{
  padding: 10px 20px;
  background-color: rgb(41, 53, 63);
  border: 1px solid rgb(91, 115, 123);
  color: white;
}

button:hover{
  background-color: rgb(91, 115, 123);
}

.dist-comuns{
  display: inline-table;
}

.dist-comuns label{
  display:table-caption;
  text-align: center;
}

.dist-comuns button{
  padding: 5px 10px;
}

.hidden{
  display: none;
}